@use '../../scss/breakPoints' as *;

.menu {
    // background-color: #1C0700;
     background-color: #160b03;

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-family: "Muller-ExtraBold", sans-serif;
        font-size: 40px;
        line-height: 45px;
        font-weight: 800;
        margin-bottom: 25px;
    }
}



.pizza-list {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 13.5px;
    width: $ct-m;
    padding-bottom: 50px;
}