// Мобільні
$bp-xs: 420px;
$bp-sm: 560px;
$bp-md: 768px;

// Планшети / малі десктопи
$bp-lg: 1024px;
$bp-xl: 1220px;

// Великі десктопи
$bp-fhd: 1440px; //1560
$bp-2k: 1920px;

// розміри контенту
$ct-m:380px;
//$ct-m:100%;